
@import 'https://fonts.googleapis.com/css?family=Work+Sans';
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;1,300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*font-family: 'Work Sans', sans-serif;*/
  /*font-family: 'Rubik', sans-serif;*/
  font-family: 'Work Sans', sans-serif;
}

html{
	 -ms-text-size-adjust:100%;
	 -webkit-text-size-adjust:100%;
	 line-height: 1.2;
}

body{
	 font-size: 18px;
}

*::selection{
	 -webkit-background-color: #131724;
	 -moz-background-color: #131724;
	 -o-background-color: #131724;
	 -ms-background-color: #131724;
	 background-color: #131724;
	 color: #fff;
}


.fullpage
{
	 display: block;
}
.main
{
	 vertical-align: middle;
	 width:100%;
	 text-align: center;
}

.pagina
{
	 background-color: white;
	 width: 100vw;
	 /*height: 50vh;*/

	 /* position: absolute; */
}

.pagina2
{
	 background-color: red;
	 width: 100vw;
	 height: 50vh;
	 /* position: absolute; */
}
.rosw
{
    width: 100%;
    position: relative;
    /* margin: 10px 0 10px 0; */
    text-align: left;
    background-color: #fff;
   padding: 10px 0 10px 10.3%;
}
.white
{
	position: relative;
    /* display: inline-block; */
    background-color: #fff;
}
.marco
{
	 background-color: white;
	 position: relative;
	 width: auto;

	 margin-left: 50px;
	 margin-right: 50px;

	 min-height: 250px;
	 height: 100%;
}

.marco2
{
	 background-color: green;
	 position: relative;
	 width: auto;

	 margin: 50px 50px 0 50px;
	 min-height: 400px;
}

.contenedor_flex
{
	 /* position: relative; */
	 width: 100%;
	 display: flex;
	 /* height: 100%; */
	 overflow: hidden;
	 flex-wrap: wrap;
	 justify-content: center;
	 margin: auto;
}
.nol
{
	 list-style: none;
	 width: 15%;
	 margin: 10px;
}

.img_flex
{
	 width: 100px;
	 margin: auto;
	 display: block;

	 transition-property: width;
	 transition-duration: 0.2s;
}
div.caja:hover > p.mensaje_flex
{
	 color: green;
}
.img_flex:hover
{
	 width: 110px;
	 color: red;
}


.nombre_flex
{
	 color: #131724;
	 text-align: center;
	 margin-top: 10px;
}
.mensaje_flex
{
	 color: #131724;
	 font-size: 14px;
	 margin-top: -15px;
	 text-align: center;
}
.caja
{
	 width: 190px;
	 height: 180px;
	 margin: auto;
	 display: inline-grid;
	 justify-content: center;
	 vertical-align: middle;
}

.img_holder
{
	width: 45vw;
	margin: auto;
	display: block;

	transition-property: width;
	transition-duration: 0.2s;
}







/* Footer 131724*/

.icono_social
{
	 display: inline-block;
	 width: 56px;
	 height: 56px;
	 line-height: 55px;
	 font-size: 35px;
	 color: #fff;
	 background: #fff;
	 border-radius: 100%;
	 box-shadow: 0 4px 12px rgba(0,0,0,.15);
	 margin: 0 4px;
	 text-align: center;
}

.icono_holder
{
	display: inline-block;
   width: 56px;
    height: 56px;
    line-height: 55px;
    font-size: 35px;
    color: #fff;
    background: #fff;
    border-radius: 100%;
    box-shadow: 0 4px 12px rgba(0,0,0,.15);
    /* margin: 0 4px; */
    margin-left: 10px;
    float: right;
    text-align: center;
}

.i_insta{ background: #DD2A7B; }
.i_face { background: #2868ef; }
.i_mail { background: #E53935; }
.i_cel  { background: #f58529; }
.i_in   { background: #0277bd; }
.i_wa   { background: #05ce6c; }

.i_insta:hover{ background: #d00d65 !important; }
.i_face:hover { background: #2355bf !important; }
.i_mail:hover { background: #ca2824 !important; }
.i_cel:hover  { background: #e47317 !important; }
.i_in:hover   { background: #0a6398 !important; }
.i_wa:hover   { background: #09a75a !important; }

.icono_social
{
	 box-shadow: 0 4px 12px rgba(0,0,0,.13), 0 6px 10px rgba(0,0,0,.3);
}
.icono_social:hover
{
	 box-shadow: 0 4px 12px rgba(0,0,0,.13), 0 6px 10px rgba(0,0,0,.3);
	 background: #0091ea;
	 color: #fff;
}



.contenedor_efecto
{
	 width: 100px;
	 background-color: #243e95;
	 height: 100px;
}
.letras
{
	 display: inline-flex;
}
.capa_oculta
{
	 background-color: red;
	 height: 100px;
}

#letra1
{
	 color: purple;
}
#letra2
{
	 color: purple;
}
#letra3
{
	 color: purple;
	 transform-origin: 
}





.ml7 {
  position: relative;
  font-weight: 900;
  font-size: 3.7em;
}
.ml7 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}
.ml7 .letter {
  transform-origin: 0 100%;
  display: inline-block;
  line-height: 1em;
}





.ml6 {
  position: relative;
  font-weight: 900;
  font-size: 3em;
}

.ml6 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml6 .letter {
  display: inline-block;
  line-height: 1em;
}




/*The CSS example*/
.item{
  padding: 100px;
  color: white;
  width: 70px;
  text-align: center;
  font-size: 3em;
  display: inline-block;
  margin-right:10px;
  margin-top: 10px;
}

.item i{
}

.blue{
  background-color: #3498db;  
}

.orange{
  background-color: #FBB44C;
}

.pink{
  background-color: #FC797A;
}

.green{
  background-color:#2ABB9B;
}

.container p{
  color: #888;
  padding: 40px 0;
}



/*End CSS example*/

/*Other CSS*/
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  position:relative;
  width: 50%;
}

.container{ 
  margin-top: 50px;
}



























/* TAMAÑO ESCRITORIO INICIO */
/* */
/* */
@media only screen and (min-width: 1021px) {
	.contenedor1{
		width: 950px;
	}
	header{
	margin-top: 25px;
	width: 100%;
	height: 50px;
	/*background-color: #222;*/
	background-color: rgba(255,255,255,0);
	color: #fff;

	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
}
	.menu{
		position: static;
		width: auto;
		height: 50px;
		transform: translateX(0%);
		float: right;
		display: flex;
	}
	h1.th {
	float: left;
	margin: 12px 0px;
	font-size: 26px;
	}
	h1.th span.fa{
		font-size: 18px;
		margin: auto;
		float: left;
		padding-right: 8px;
		padding-top: 5px;
	}
	ul.nav{
	list-style: none;
	font-size: 1em;
}


/*
	.nav a:hover{
		padding-top: 3vh;
		background-color: #d40d54;
		line-height: 0px;
		text-decoration: none;
		font-size: 110%;


	}
#00a587



.menu ul ul{
  list-style: none;
}
li.active{
  background-color: #d40d54;
}
li:hover{
  background-color: #d40d54;
}

*/




	section.contenedor{
	width: 100%;
	min-height: 400px;

	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;

	border-bottom: 1px solid #d6d6d6;
	}

	section.contenedoryo{
	top: 60px;
	width: 100%;
	min-height: 400px;

	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;

	border-bottom: 1px solid #d6d6d6;
	}
/* INICIA LISTA TEXTO 1 YO*/
	section.textoy{
		float: right;
		width: 90%;
		color: #818181;
		text-align: left;
		min-height: 400px;

		background-color: white;
	}

	section.textoy li{
		float: left;
		width: 94%;
		text-align: left;
		color: #7f8c8d;
		list-style: none;
		font-size: 1.2em;
		margin: 1.3px;
		margin-left: 38px;
		margin-right: 45px;
		background-color: white;
	}
	section.textoy li:hover{
		list-style: none;
		margin-right: 45px;
		font-size: 1.4em;
		color: #EA2E49;


		-webkit-transition: .25s;
		-moz-transition: .25s;
		-o-transition: .25s;
		-ms-transition: .25s;
		transition: .25s;
		outline: none !important;
		text-decoration: none;
		color: #EA2E49;
		background-color: white;
	}

/* TEXTO 1 LISTAS ANIMADAS YO*/
/* CIERRA */


	/* INICIA LISTA TEXTO 1 */
	section.texto{
		float: right;
		width: 75%;
		color: #818181;
		text-align: left;
		min-height: 400px;

		background-color: white;
	}

	section.texto li{
		float: left;
		width: 94%;
		text-align: left;
		color: #7f8c8d;
		list-style: none;
		font-size: 1.2em;
		margin: 1.3px;
		margin-left: 38px;
		margin-right: 45px;
		background-color: white;
	}
	section.texto li:hover{
		list-style: none;
		margin-right: 45px;
		font-size: 1.4em;
		color: #EA2E49;


		-webkit-transition: .25s;
		-moz-transition: .25s;
		-o-transition: .25s;
		-ms-transition: .25s;
		transition: .25s;
		outline: none !important;
		text-decoration: none;
		color: #EA2E49;
		background-color: white;
	}

/* TEXTO 1 LISTAS ANIMADAS */
/* CIERRA */



/* INICIA LISTA TEXTO 2 */
	section.texto2{
		float: left;
		width: 75%;
		color: #818181;
		min-height: 400px;

		background-color: white;
	}

	section.texto2 li{
		float: left;
		width: 94%;
		color: #7f8c8d;
		list-style: none;
		font-size: 1.2em;
		text-align: right;
		margin: 1.3px;
		margin-left: 35px;
		background-color: white;
	}
	section.texto2 li:hover{
		list-style: none;
		margin-left: 45px;
		font-size: 1.4em;
		color: #EA2E49;


		-webkit-transition: .25s;
		-moz-transition: .25s;
		-o-transition: .25s;
		-ms-transition: .25s;
		transition: .25s;
		outline: none !important;
		text-decoration: none;
		color: #EA2E49;
		background-color: white;
	}

/* TEXTO 2 LISTAS ANIMADAS */
/* CIERRA */


	/* TEXTO PRINCIPAL PORTADA PAGINA ROSAS */
	section.textop{
		margin: auto;
		width: 80%;
		min-height: 300px;

		background-color: white;
	}

	p.titulop{
		text-align: center;
		margin-left: 20px;
		margin-right: 20px;
		margin-top: 0vh;
		margin-bottom: 10px;
		font-size: 3.5em;
		color: #222;

		/*font-family: "HelveticaNeue", Arial;
		font-weight: 700;

		*/
	}

  /*
  p.titulop{
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 27vh;
    margin-bottom: 10px;
    font-size: 3.5em;
    color: #222;
  }
  .rosa{
		color: #f2266d;
	}
	.dark{
		color: #d40d54;
	}
  */
	.rosa{
		color: #222;
	}
	.dark{
		color: #444;
	}
	p.textop{
		text-align: center;
		margin: 20px;
		margin-right: 20px;
		font-size: 1.2em;
		color: #776e71;
		line-height: 19px;
	}

	/* colores barra
.dark{
  color: #BD355A;
}
.rosa{
  color: #EA2E49;
}*/


	/* CIERRA TEXTO PRINCIPAL */
	/**/
	/**/
	/**/
	p.titulo{
		text-align: center;
		margin-top: 13vh;
		margin-bottom: 10px;
		font-size: 1.8em;
		color: #131724;
	}
	p.texto{
		margin: 18px;
		font-size: 1.2em;
		color: #95a5a6;
		line-height: 19px;
	}
	p.texto2{
		text-align: right;
		margin: 18px;
		font-size: 1em;
		color: #636262;
		line-height: 19px;
	}
	div.social-icons{
		justify-content: flex-start;
		float: right;
		margin: 14px 35px;
	}
















/* CIERRA TAMAÑO ESCRITORIO */
/* */
}
/* */
/**/


/* Cierra MENU */

section#cont1{
	/*background-image: url(we1.jpg);
	background-attachment: fixed;
	background-size: cover;
*/
	background-color: #243e95;
	display: block;
   position: relative;
}

section#cont2{
	background-image: url('nano.jpg');
	background-attachment: fixed;

}
section#cont3{
	background-image: url('bow.jpg');
	background-attachment: fixed;
	background-size: cover;


}
section#cont4{
	background-image: url('chmy.jpg');
	background-attachment: fixed;
	background-size: cover;

}



section.texto
{
	padding-top: 25vh;
	float: right;
	width: 65%;
	height: 100%;
	min-height: 400px;

	background-color: transparent;
}
section.texto ul li{
	color: white;
	background-color: transparent;
}
section.nombre_holder
{
	display: flex;
	vertical-align: middle;
   float: left;
   width: 35%;
   height: 100%;
   position: fixed;
   /* bottom: 0; */
   justify-content: center;
   /* min-height: 100%; */
   background-color: transparent;
}
div.caja_holder
{
	/*display: flex; */
   margin: auto;
   text-align: center;
   vertical-align: middle;
   justify-content: center;
   height: 200px;
   border-right-width: 4px;
   /* border-right-width: medium; */
   border-right-style: solid;
   border-right-color: #fff;
   width: 100%;
}

p.titulo_holder
{
	font-weight: 600;
    /* margin: auto; */
    vertical-align: middle;
    /* display: flex; */
    top: -2%;
    right: 3vw;
    text-align: right;
    position: relative;
    color: #fff;
    font-size: calc(28px + 33 * ((100vw - 480px) / 2080));
    margin: 0;

}
p.texto_holder
{
	font-weight: 400;
    vertical-align: middle;
    right: 3vw;
    text-align: right;
    position: relative;
    color: #fff;
    top: -1%;

   margin-top: calc(11px + ((20vw - 480px) / 1000));
}
p.grupo_holder
{
	font-weight: 400;
    vertical-align: middle;
    right: 3vw;
    text-align: right;
    position: relative;
    color: #fff;
    top: 49%;
    /*margin: 0;*/
}
div.iconos_holder
{
	background-color: transparent;
   width: 90%;
   height: 70px;
   justify-content: right;
   float: right;
   position: relative;
   top: 40px;
   padding-right: 3vw;
}
.texto_mensaje
{
	color: #fff;
	margin-right: 6%;
	margin-left: 3%;

	font-size: calc(18px + 2 * ((100vw - 480px) / 2080));
	line-height: calc(25px + 6 * ((100vw - 480px) / 2080));
}


div#fin
{
	z-index: 3;
   overflow: hidden;
   position: relative;
}

ul.lista_despedida
{
	padding-left: 3%;
	margin-right: 15%
}
ul.lista_despedida li
{
	color: #fff;
	font-size: 18px;
	background-color: transparent;
	list-style: disc;
	margin-bottom: 10px;
}

ul.lista_despedida li:hover
{
	color: #fff;
	font-size: 18px;
	background-color: transparent;
	list-style: disc;
	margin-bottom: 10px;
}



.anim, .anim svg {
  position: relative;
  width: 100%;
  height: 100%;
}
.anim path {
  stroke-width: 2;
}





h1.ml8 {
  font-weight: 900;
  font-size: calc(28px + 33 * ((100vw - 480px) / 2080));
  color: #fff;
  width: 3em;
  height: 3em;
}

.ml8 .letters-container {
  position: relative;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  height: 1em;
}

.ml8 .letters {
  position: relative;
  z-index: 2;
  display: inline-block;
  line-height: 0.7em;
  right: -0.12em;
  top: -0.2em;
}

.ml8 .bang {
  font-size: 1.4em;
  top: auto;
  left: -0.06em;
}

.ml8 .circle {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
}

.ml8 .circle-white {
  width: 3em;
  height: 3em;
  border: 2px dashed white;
  border-radius: 2em;
}

.ml8 .circle-dark {
  width: 2.2em;
  height: 2.2em;
  background-color: #4f7b86;
  border-radius: 3em;
  z-index: 1;
}

.ml8 .circle-dark-dashed {
  border-radius: 2.4em;
  background-color: transparent;
  border: 2px dashed #4f7b86;
  width: 2.3em;
  height: 2.3em;
}






















/*/////////////////////////////////////////   MOVIL   //////////////////////////////////////*/
@media only screen and (max-width: 750px)
{
	section.texto
	{
		padding-top: 10px;
    /* padding-bottom: 5vh; */
    /* float: right; */
    width: 100vw;
    top: 0;
    height: 100%;
    min-height: 400px;
    background-color: transparent;
	}

	section.texto ul li{
		color: white;
		background-color: transparent;
	}
	section.nombre_holder
	{
		z-index: 2;

		display: flex;
		vertical-align: middle;
	   float: left;
    width: 100vw;
    height: 35vh;

    top: calc( ((100vw * 0.8342) + 0.1469px) - 25px);

    position: relative;
	   /* bottom: 0; */
	   justify-content: center;
	   /* min-height: 100%; */
	   background-color: transparent;
	}
	div.caja_holder
	{
		/* rosa mlu #a42e47*/
		box-shadow: 0px 0px 50px 50px #243e95;
	   /* top: 300px; */
	   z-index: 3;

		/*display: flex; */
	   margin: auto;
	   text-align: center;
	   vertical-align: middle;
	   justify-content: center;
	   height: 200px;
	   
	   border: none !important;
	   width: 100%;
	   background-color: #243e95;
	}

	p.titulo_holder
	{
		font-weight: 600;
	    /* margin: auto; */
	    vertical-align: middle;
	    /* display: flex; */
	    top: -2%;
	   right: 0 !important;
	    text-align: center;
	    position: relative;
	    color: #fff;
	    font-size: calc(28px + 33 * ((100vw - 480px) / 2080));
	    margin: 0;

	}
	p.texto_holder
	{
		font-weight: 400;
	    vertical-align: middle;
	   right: 0 !important;
	    text-align: center;
	    position: relative;
	    color: #fff;
	    top: 2%;

	   margin-top: calc(1px + ((20vw - 480px) / 1000));
   	/* margin: 0;*/
	}
	p.grupo_holder
	{
		font-weight: 400;
	    vertical-align: middle;
	   right: 0 !important;
	    text-align: center;
	    position: relative;
	    color: #fff;
	    top: 42%;
	    margin: 0;
	}
	div.iconos_holder
	{
		background-color: transparent;
	   display: flex;
	   width: 100%;
	   height: 70px;
	   justify-content: center;
	   /* float: inherit; */
	   position: relative;
	   top: 40px;
	   padding: 0 !important;
	}
	.texto_mensaje
	{
		color: #fff;
		margin-right: 6%;
		margin-left: 3%;

		font-size: calc(18px + 2 * ((100vw - 480px) / 2080));
		line-height: calc(25px + 6 * ((100vw - 480px) / 2080));

		position: relative;
	   margin-top: 0;
	   z-index: 5;
	}
	.tm_top
	{
	   margin-top: 65vw;
	}
	.img_holder
	{
		width: 100vw;
		position: absolute;
   	top: 0;
	}
	.contenedor
	{
		margin-bottom: 70px;
	}
	.icono_holder
	{
		width: 50px;
		height: 50px;
		line-height: 50px;
		font-size: 30px;
	}
	.icono_social
	{
		width: 50px;
		height: 50px;
		line-height: 50px;
		font-size: 30px;
	}
}





@media only screen and (min-width: 400px) and (max-height: 700px) 
{
	.tm_top
	{
	   margin-top: 80vw;
	}
	.icono_holder
	{
		width: 50px;
		height: 50px;
		line-height: 50px;
		font-size: 30px;
	}
	.icono_social
	{
		width: 50px;
		height: 50px;
		line-height: 50px;
		font-size: 30px;
	}

}
@media only screen and (min-width: 400px) and (max-height: 700px)  and (orientation: landscape)
{
	.tm_top
	{
	   margin-top: 90vw;
	}
}




@media only screen and (min-width: 751px) and (min-height: 600px) 
{
	.tm_top
	{
	   margin-top: 5vw;
	}
	.icono_holder
	{
		width: 50px;
		height: 50px;
		line-height: 50px;
		font-size: 30px;
	}
	.icono_social
	{
		width: 50px;
		height: 50px;
		line-height: 50px;
		font-size: 30px;
	}

}